<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <applicationSettings>
    <UpdateUserTimeZoneZendesk.Configuration>
      <setting name="Username" serializeAs="String">
        <value>username</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>pass</value>
      </setting>
      <setting name="Zendesk_subdomain" serializeAs="String">
        <value>domain</value>
      </setting>
    </UpdateUserTimeZoneZendesk.Configuration>
  </applicationSettings>
</configuration>